<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.normlogic.navigator.parts.LibraryPart$LibraryLabelProvider"
            icon="icons/8/important.png"
            id="org.normlogic.navigator.app.library"
            label="important"
            lightweight="true"
            location="BOTTOM_RIGHT">
      </decorator>
   </extension>
   <extension
         id="MyProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="org.normlogic.navigator">
         <property
               name="windowImages"
               value="icons/16/graph.png">
         </property>
         <property
               name="applicationXMI"
               value="org.normlogic.navigator.app/Application.e4xmi">
         </property>
         <property
               name="appName"
               value="org.normlogic.navigator">
         </property>
      </product>
   </extension>

</plugin>
